.detail-enter {
  max-height: 0;
}

.detail-enter-active {
  max-height: 500px;
  transition: max-height 500ms ease-in-out;
}

.detail-exit {
  max-height: 500px;
}

.detail-exit-active {
  max-height: 0;
  transition: max-height 500ms ease-in-out;
}